.home {
  padding: var(--spacing-xl) 0 var(--spacing-2xl);

  &__title {
    font-size: var(--font-size-2xl);
    font-weight: 700;
    color: var(--color-text-primary);
    margin-bottom: 20px;
    line-height: 1.1;
    text-align: center;

    @media (min-width: 640px) {
      font-size: 36px;
    }
  }

  &__ad {
    margin-top: var(--spacing-xl);
  }
}
